<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('common/head'); -%>
  </head>

  <body>
    <div class="flex h-screen bg-gray-200">
      <%- include('layout/sidebar'); -%>
      <div class="flex-1 flex flex-col overflow-hidden"><%- include('layout/header'); -%> <%- include('layout/main'); -%></div>
    </div>
  </body>
</html>
