<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title  %> </title>
  <%- include('../common/head'); -%>
  <link rel="stylesheet" href="/css/agate.css">
</head>

<body>
  <div class="flex h-screen bg-gray-200">
    <div class="fixed z-20 inset-0 bg-black opacity-50 transition-opacity lg:hidden"></div>
    <%- include('../layout/sidebar'); -%>
    <div class="flex-1 flex flex-col overflow-hidden">
      <%- include('../layout/header'); -%>
      <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
        <div class="container mx-auto px-6 mt-4">
          <div class="editor">
            <div class="textarea">
              <textarea autocomplete="off" placeholder="请输入内容" class="textarea__inner" id="textarea">
              </textarea>
            </div>
            <div class="flex items-center justify-center m-2">
              <button type="button" class="bg-blue-500 button button--primary is-round focus:outline-none"
                onclick="sendLua()">
                <span>发送</span>
              </button>
              <button type="button" class="bg-red-600	 button button--primary is-round focus:outline-none"
                onclick="clearLua()">
                <span>清空</span>
              </button>
            </div>
            <div class="flex justify-center flex-col pb-2">
              <button
                class="bg-red-500 bg-green-500 button button--primary is-round status cursor-not-allowed block focus:outline-none font-black text-lg leading-4">
                <span class="statusValue">执行状态</span>
              </button>
            </div>
          </div>
        </div>
        <div class="result">
          <pre><code  id='dcsValue'></code></pre>
        </div>
      </main>
    </div>
    <%- include('../common/toast',{user: '顶顶顶'}); -%>
  </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/highlight.min.js"></script>
<script src="/js/common.js"></script>

<script>
  var socket = io();
  let textarea = 'return net.get_player_list()'
  document.querySelector("#textarea").value = textarea;
  // 发送消息
  function sendMessage(event, data) {
    socket.open(); // 开始连接socket
    socket.emit(event, data);
  };
  function sendLua() {
    let luaValue = document.querySelector("#textarea").value
    if (luaValue) {
      let luaStr = {
        state: 'loadstring',
        lua_string: luaValue.replace(/\r{0,}\n/g, ' '),
      };
      this.sendMessage('debuggerLua', luaStr);
      socket.on('loadstring', (data) => {
        let element = document.querySelector('.status');
        let statusValue = document.querySelector('.statusValue');
        document.querySelector('#dcsValue').innerHTML = JSON.stringify(data.data)
        document.querySelectorAll('pre code').forEach((block) => {
          hljs.highlightBlock(block);
        });
        if (data.status) {
          removeClass(element, 'bg-red-500');
          addClass(element, 'bg-green-500');
          statusValue.innerHTML = "执行成功,时间:" + data.timeS.os;
        } else {
          addClass(element, 'bg-red-500')
          removeClass(element, 'bg-green-500')
          statusValue.innerHTML = "执行失败"
        }
      });
    } else {
      let element = document.querySelector('#toast');
      removeClass(element, 'hidden')
    }
  }
  function clearLua() {
    document.querySelector("#textarea").value = ''
    let parent = document.querySelector("#dcsValue")
    while (parent.firstChild) {
      parent.removeChild(parent.firstChild);
    }
  }
</script>

</html>